<main>
  <section class="">
    <header class="page-header content txt-center">
      <h1 class="main-header-title">図書館Webサイト</h1>
      <h2>-- 貸し出し一覧 --</h2>
    </header>
    <div class="main-books">
      <!-- 画面表示処理を埋め込む -->
      <div id="bookclick"  class="main-book txt-center" data-target="book1">
        <div class="main-book-img">
          <img src="./books/book1.png" srcset="">
        </div>
        <span class="main-book-txt txt-center">本1</span>
      </div>
    </div>

    <dialog id="favDialog">
      <form method="dialog">
        <div id="modal-input">
          <div class="modal-book-img">
            <img src="./books/book1.png" srcset="">
          </div>
          <a class="modal-book-id txt-center"></a>
          <input class="book-calender-btn" type="date" required>期間(必須)<br>
          <button class="book-borrow-btn" type="button" onclick="borrowModalFunc()">借りる</button>
          <button class="book-return-btn" type="button" onclick="closeModalFunc()">戻る</button>
        </div>

        <div id="modal-confirm" class="disply-none">
          <h2>確認画面</h2>
          <p class="select-date"></p>
          <button class="comit-btn" type="button" onclick="comitFunc()">決定</button><br>
          <button class="book-return-btn" type="button" onclick="returnModalFunc()">戻る</button>
          <button class="book-cancel-btn" type="button" onclick="closeModalFunc()">キャンセル</button>
        </div>
      </form>
    </dialog>

    <dialog id="completeDialog">
      <div class="modal-complete">
        <p>処理完了しました。</p><br>
        <p class="complete-period"></p><br>
        <button class="complete-return-btn" type="button" onclick="closeCompleteModalFunc()">一覧に戻る</button>
      </div>
    </dialog>
  </section>
</main>
